.holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  outline: 3px solid black;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  height: 100px;
}

.item:nth-child(1) {
  flex-basis: 50%;
  order: 1;
  background-color: red;
}

.item:nth-child(5) {
  flex-basis: 50%;
  order: 2;
  background-color: orange;
}

.item:nth-child(3) {
  flex-basis: 33.33%;
  order: 3;
  background-color: blueviolet;
}

.item:nth-child(2) {
  flex-basis: 33.33%;
  order: 4;
  background-color: blue;
}

.item:nth-child(4) {
  flex-basis: 33.33%;
  order: 5;
  background-color: green;
}
